
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */
#music {
    margin: 15px 50px 15px 50px;
    border: .25rem solid black;
}

#music > div {
    display: inline-block;
    max-width: 500px;
    font-size: .75rem;
    vertical-align: middle;
}

#playbox {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    * {
        position: absolute;
        font-size: 100px;
        opacity: .4;
    }
    img {
        opacity: 1;
    }
    #albumIcon {
        z-index: -1;
        opacity: 1;
        color: steelblue;
    }
}

#trackInfo {
    margin-left: 20px;
    div {
        line-height: .75rem;
    }
}

#playCount {
    display: inline-block;
}

#likes {
    display: inline-block;
}


